<div class="row">
    <div class="col-md-4">
        <div class="card card-data"> 
            <h4>Classes</h4>
            <ul>
                <li><a href="">Regualar Classes</a></li>
                <li><a href="">Special Classes</a></li>
                <li><a href="">Tranning Classes</a></li>

            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-data"> 
            <h4>Sports</h4>
           <ul>
               <li><a href="">Indoor Games</a></li>
               <li><a href="">OutDoor Games</a></li>
           </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-data"> 
            <h4>Caltural Events</h4>
            <ul>
                <li><a href="">Dance</a></li>
                <li><a href="">Singing</a></li>
                <li><a href="">Art</a></li>
                <li><a href="">Story Narration</a></li>
            </ul>
        </div>
    </div>
   
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card card-data"> 
            <h4>Parents Meetings</h4>
           <ul>
               <li><a href="">Weeekly Meet</a></li>
               <li><a href="">Monthly Meet</a></li>
           </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-data"> 
            <h4>Guidences</h4>
            <ul>
                <li><a href="">Future Guidences</a></li>
                <li><a href="">Carrier Advice</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-data"> 
            <h4>Social Awareness</h4>
            <ul>
                <li><a href="">Anti social behavior</a></li>
                <li><a href="">Alcohol abuse</a></li>
                <li><a href="">Economic Deprivation</a></li>
                <li><a href="">Political Corruption</a></li>
            </ul>
        </div>
    </div>
    
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card card-data"> 
            <h4>Transport</h4>
           <ul>
               <li><a href="">Bus Trancsort</a></li>
               <li><a href="">Private Vechile</a></li>
               <li><a href="">Own Vechile</a></li>
           </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-data"> 
            <h4>Others</h4>
            <ul>
                <li><a href=""></a></li>
            </ul>
        </div>
    </div>
</div>