.container{
    padding: 0;
}

.container-fluid {
    background-color: royalblue;
}
nav{
    display: flex;
    width: 100%;

}
nav .logo img{
    width: 150px;
}
nav .menu-list{
    display: flex;
}